div.almostEmpty {
  color: orange;
}

footer.footer {
  background-color: #aaa;
  padding: 32px;
}

footer.footer_fixed_true {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


footer.footer_theme_light_default {
  background-color: white;
}

footer.footer_theme_light_default a {
  background-color: black;
}

footer.footer_theme_dark {
  background-color: black;
}

footer.footer_theme_dark a {
  background-color: white;
}



footer.footer_fixed_true_theme_light {
  color: red;
}

footer.footer_fixed_false_theme_light {
  color: red;
}


a.link {
  text-decoration: none;
  margin-right: 16px;
}

a.link:hover {
  color: #2244ff;
}

a.link_primary_true {
  font-size: 1.5em;
}
