div.almostEmpty {
  color: orange;
}

footer.footer {
  background-color: #aaa;
  padding: 32px;

  &_fixed_true {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &_theme_light_default {
    background-color: white;

    a {
      background-color: black;
    }
  }

  &_theme_dark {
    background-color: black;

    a {
      background-color: white;
    }
  }

  &_fixed_true_theme_light {
    color: red;
  }

  &_fixed_false_theme_light {
    color: red;
  }
}

a.link {
  text-decoration: none;
  margin-right: 16px;

  &:hover {
    color: #2244ff;
  }

  &_primary_true {
    font-size: 1.5em;
  }
}
